.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 12px;
  margin-bottom: 80px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 32px;
  }
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 71vw;

  @media (max-width: $tablet-width) {
    width: 88vw;
  }
}

.faq__title {
  @include font-set(34px, 44px, 700);
  font-family: $secondary-font;
  align-self: center;
  letter-spacing: 0.03em;
  margin-bottom: 53px;

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
    text-align: center;
  }
}

.faq__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $background2;
}

.faq__question-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.faq__question {
  @include font-set(18px, 23px, 500);
  margin: 0;
  margin-bottom: 9px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    @include font-set(16px, 22px, 500);
    width: 57vw;
  }
}

.faq__button {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 11px;
    height: 11px;
    border-bottom: 1px solid $background2;
    border-left: 1px solid $background2;
    transform: rotate(-45deg);

    @media (max-width: $mobile-width) {
      top: -25px;
      left: -7px;
    }
  }
}

.faq__answer {
  @include font-set(16px, 21px, 400);
  width: 527px;
  margin: 0;
  padding-left: 10px;
  display: none;

  @media (max-width: $tablet-width) {
    width: 95%;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  @media (max-width: $mobile-width) {
    @include font-set(14px, 20px, 400);
    width: 65vw;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.faq__item {
  box-sizing: border-box;
  padding: 39px;

  @media (max-width: $tablet-width) {
    padding: 43px;
  }

  @media (max-width: $mobile-width) {
    cursor: pointer;
    pointer-events: auto;
    padding: 18px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $background2;
  }
}

.faq__item--opened .faq__answer,
.faq__item--nojs .faq__answer {
  display: block;
}

.faq__item--opened .faq__button,
.faq__item--nojs .faq__button {
  &::before {
    transform: rotate(135deg);

    @media (max-width: $mobile-width) {
      top: -15px;
    }
  }
}

.faq__item--second .faq__question {
  @media (max-width: $mobile-width) {
    width: 48vw;
  }
}

.faq__item--fourth .faq__question {
  @media (max-width: $mobile-width) {
    width: 206px;
  }
}
