.main-nav {
  @media (max-width: $tablet-width) {
    background: $white;
    min-height: 126px;
  }

  @media (max-width: $mobile-width) {
    min-height: 92px;
  }
}

.main-nav--opened,
.main-nav--nojs {
  @media (max-width: $tablet-width) {
    background: $background2;
    min-height: 100vh;
  }

  @media (max-width: $mobile-width) {
    min-height: 100vh;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $grey;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    border: none;
    margin-bottom: 0;
  }
}

.main-nav__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 115px;
  align-items: center;
  justify-content: center;

  @media (max-width: $tablet-width) {
    min-height: 126px;
    padding-top: 0;
    box-sizing: border-box;
    background: $white;
  }

  @media (max-width: $mobile-width) {
    width: 91vw;
    min-height: 92px;
  }
}

.main-nav__list,
.main-nav__list-about {
  @include list-reset;
}

.main-nav__form {
  position: relative;
  margin-left: 28px;
  margin-right: 26vw;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    display: none;
    order: 1;
    margin: 0;
  }
}

.main-nav__form input {
  outline: none;
  border: none;
  width: 170px;
  padding-bottom: 11px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &::placeholder {
    @include font-set(14px, 21px, 500);
    font-family: $primary-font;

    @media (max-width: $tablet-width) {
      opacity: 0;
    }
  }

  @media (max-width: $tablet-width) {
    background: $white-opacity;
    border-radius: 21px;
    width: 89vw;
    height: 40px;
    margin-top: 34px;
    text-indent: 40px;
    padding-top: 12px;
    box-sizing: border-box;
  }


  @media (max-width: $mobile-width) {
    width: 91vw;
    margin-top: 28px;
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 25px;
  height: 16px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $black2;
    box-shadow: 0 8px 0 0 $black2, 0 16px 0 0 $black2;
  }

  @media (max-width: $tablet-width) {
    display: block;
    margin-right: 37vw;
  }

  @media (max-width: $mobile-width) {
    margin-right: 30vw;
  }
}

.main-nav__logo {
  padding-top: 10px;

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.main-nav__login,
.main-nav__cart {
  @include font-set(14px, 21px, 500);
  color: $black2;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-nav__login-section {
  display: flex;
  flex-wrap: wrap;
  width: 40.6vw;
  gap: 2.6vw;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-left: 36.5vw;
  }

  @media (max-width: $mobile-width) {
    margin-left: 30.5vw;
  }
}

.main-nav__top-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-nav__login {
  padding-bottom: 5px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__cart {
  padding-bottom: 5px;
}

.main-nav__cart-text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__cart-icon {
  display: none;
  stroke: $black2;

  @media (max-width: $tablet-width) {
    display: block;
    stroke: $black2;
    padding-top: 6px;
  }
}

.main-nav__form-icon {
  fill: $black2;
  position: absolute;
  top: 0;
  left: -28px;

  @media (max-width: $tablet-width) {
    fill: $white;
    position: absolute;
    top: 47px;
    left: 15px;
  }

  @media (max-width: $tablet-width) {
    top: 41px;
    left: 15px;
  }
}

.main-nav__logo-icon {
  fill: $background2;

  @media (max-width: $tablet-width) {
    fill: $background2;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav__logo-icon-mobile {
  display: none;
  fill: $background2;

  @media (max-width: $tablet-width) {
    fill: $background2;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.main-nav__cart span {
  padding-left: 5px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  min-height: 39px;
  padding-left: 8px;

  @media (max-width: $tablet-width) {
    display: none;
    flex-direction: column;
    gap: 21px;
    padding-left: 45px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    margin-bottom: 30px;
  }
}

.main-nav__item a {
  @include font-set(16px, 24px, 500);
  color: $black2;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    color: $white;
  }
}

.main-nav__list .main-nav__item a {
  @media (max-width: $tablet-width) {
    @include font-set(24px, 36px, 500);
  }
}

.main-nav__list-about .main-nav__item a {
  @media (max-width: $tablet-width) {
    @include font-set(18px, 23px, 500);
    color: $white-opacity2;
  }
}

.main-nav__list-about {
  display: none;

  @media (max-width: $tablet-width) {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding-left: 45px;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    margin-bottom: 35px;
  }
}

.main-nav__log {
  display: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    @include font-set(18px, 23px, 500);
    display: none;
    color: $white;
    margin-left: 45px;
    width: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 15px;
  }
}

.main-nav--opened .main-nav__container,
.main-nav--nojs .main-nav__container {
  @media (max-width: $tablet-width) {
    padding-top: 22px;
    background: $background2;
  }
}

.main-nav--opened .main-nav__wrapper,
.main-nav--nojs .main-nav__wrapper {
  @media (max-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 36px;
  }
}

.main-nav--opened .main-nav__list,
.main-nav--opened .main-nav__list-about,
.main-nav--nojs .main-nav__list,
.main-nav--nojs .main-nav__list-about {
  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__log,
.main-nav--opened .main-nav__form,
.main-nav--nojs .main-nav__log,
.main-nav--nojs .main-nav__form {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle,
.main-nav--nojs .main-nav__toggle {
  @media (max-width: $tablet-width) {
    &::before {
      background-color: $white;
      box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
    }
  }
}

.main-nav--opened .main-nav__cart-icon,
.main-nav--nojs .main-nav__cart-icon {
  @media (max-width: $tablet-width) {
    stroke: $white;
  }
}

.main-nav--opened .main-nav__logo-icon,
.main-nav--nojs .main-nav__logo-icon {
  @media (max-width: $tablet-width) {
    fill: $white;
  }
}

.main-nav--opened .main-nav__logo-icon-mobile,
.main-nav--nojs .main-nav__logo-icon-mobile {
  @media (max-width: $mobile-width) {
    fill: $white;
  }
}
