.modal {
  position: fixed;
  top: 137px;
  right: -16px;
  left: 0;
  margin: auto;
  padding: 0;
  background-color: $background-basic;
  width: 430px;
  height: 586px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 3;
  border: none;
  overflow: auto;

  @media (max-width: $tablet-width) {
    width: 442px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    height: 470px;
  }

  &--opened {
    display: block;
  }
}

.modal fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__form-wrapper,
.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal__title {
  @include font-set(34px, 44px, 700);
  font-family: $secondary-font;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    @include font-set(24px, 31px, 700);
    width: 100%;
    margin-bottom: 18px;
  }
}

.modal__form {
  padding: 0 45px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.modal__form input {
  border: none;
  outline: none;
  border-bottom: 1px solid $black2;
  background-color: transparent;
  box-sizing: border-box;
  padding: 13px 0;

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  &:not(:nth-of-type(1)) {
    margin-top: 22px;

    @media (max-width: $mobile-width) {
      margin-top: 18px;
    }
  }

  &::placeholder {
    @include font-set(14px, 21px, 500);
    font-family: $primary-font;
    color: $brown;
  }
}

.modal__link {
  @include font-set(12px, 18px, 500);
  font-family: $primary-font;
  color: $brown;
  text-align: end;
  margin-top: 5px;
  margin-bottom: 45px;

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
  }

  &:hover,
  &:focus {
    color: $black2;
  }
}

.modal__close {
  border: none;
  outline: none;
  background-color: transparent;
  top: 8px;
  right: 0;
  cursor: pointer;

  &:focus,
  &:hover {
    &::before,
    &::after {
      background-color: $brown;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 18px;
    width: 18px;
    height: 2px;
    background-color: $black2;

    @media (max-width: $mobile-width) {
      top: 20px;
      right: 15px;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__image {
  margin-bottom: 46px;

  @media (max-width: $tablet-width) {
    width: 442px;
    height: 138px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    height: 84px;
    margin-bottom: 32px;
  }
}


.modal__button {
  @include font-set(16px, 21px, 500);
  color: $white;
  width: 340px;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: $background2;
  padding: 23px 0;
  border: none;

  @media (max-width: $mobile-width) {
    width: 240px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.modal__text {
  @include font-set(14px, 21px, 500);
  color: $brown;
  margin-left: 53px;

  @media (max-width: $mobile-width) {
    margin-left: 5px;
  }
}

.modal__text a {
  margin-left: 8px;
  color: $black2;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal__filter {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 768px;
  min-height: 957px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 3;
  border: none;
  overflow: auto;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 25px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    min-height: 872px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
  }

  &--opened {
    display: flex;
  }
}

.modal__filter-wrapper {
  padding-bottom: 10px;
}

.modal__filter-close {
  border: none;
  outline: none;
  background-color: transparent;
  top: 8px;
  right: 0;
  cursor: pointer;


  &:focus {
    &::before,
    &::after {
      border: 1px solid $black;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 330px;
    width: 32px;
    height: 32px;
    background: url("../../img/icons/close.svg");

    @media (max-width: $mobile-width) {
      top: 60px;
      right: 15px;
    }
  }
}


.modal__filter .modal__filter-wrapper {
  width: 442px;

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.modal__filter .catalog__section-name {
  @include font-set(18px, 23px, 500);
}

.modal__filter .catalog__section-label {
  @include font-set(16px, 21px, 500);
}

.modal__filter .catalog__form-list {
  border: none;
  margin-bottom: 25px;
}

.modal__filter .catalog__section {
  padding: 35px 22px;

  @media (max-width: $mobile-width) {
    padding: 24px 22px;
  }
}

.modal__filter .catalog__form-controls {
  padding-left: 40px;

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-left: 20px;
  }
}

.modal__filter .catalog__form-scale {
  width: 305px;

  @media (max-width: $mobile-width) {
    width: 240px;
    padding-left: 44px;
  }
}

.modal__filter .catalog__form-toggle {
  width: 18px;
  height: 18px;
}

.modal__filter .catalog__form-toggle-min {
  top: -10px;
  left: 85px;

  @media (max-width: $mobile-width) {
    top: 0;
    left: 50px;
  }
}

.modal__filter .catalog__form-toggle-max {
  top: -10px;
  left: 260px;

  @media (max-width: $mobile-width) {
    top: 0;
    left: 187px;
  }
}

.modal__filter .catalog__form-price p {
  @include font-set(16px, 21px, 500);
}

.modal__filter .catalog__form-price {
  width: 215px;
  padding-left: 36px;

  @media (max-width: $mobile-width) {
    width: 175px;
    padding-left: 20px;
  }
}

.modal__filter .catalog__form-filter {
  margin-bottom: 45px;
}

.modal__filter .catalog__form-button-block {
  padding-left: 31px;
  width: 362px;

  @media (max-width: $mobile-width) {
    padding-left: 20px;
    width: 230px;
    gap: 20px;
  }
}

.modal__filter .catalog__section-list {
  gap: 17px;
  margin-bottom: 26px;
  padding-left: 35px;

  @media (max-width: $mobile-width) {
    padding-left: 29px;
  }
}

.modal__filter .catalog__btn {
  &::before {
    @media (max-width: $mobile-width) {
      top: 5px;
      left: -2px;
    }
  }
}

.modal__login {
  &--opened {
    display: block;
  }
}


.modal-page {
  margin: auto;
  width: 450px;
  height: 680px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  z-index: 3;
  border: none;
  overflow: auto;
}

.modal-page fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__back {
  @include font-set(14px, 21px, 500);
  color: $black2;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal__logo {
  text-align: center;
  margin-bottom: 10px;
}
