.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 115px;
  padding-left: 19px;

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 52px;
  }
}

.new__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.new__title {
  @include font-set(34px, 44px, 700);
  font-family: $secondary-font;
  letter-spacing: 0.03em;
  align-self: center;
  margin: 0;
  margin-bottom: 6px;

  @media (max-width: $mobile-width) {
    margin-bottom: 17px;
  }
}

.new__link {
  @include font-set(16px, 21px, 500);
  align-self: center;
  color: $black2;
  padding-bottom: 7px;
  border-bottom: 1px solid $background2;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.new__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.new__button {
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.new__button--left,
.new__button--right {
  &::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 1px;
    background-color: $background2;
    top: 0;
    left: 30px;

    @media (max-width: $tablet-width) {
      width: 36px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $background2;
    border-right: 1px solid $background2;
    top: -5px;
    left: 30px;
    transform: rotate(-225deg);
  }
}

.new__button--right {
  &::before {
    left: -45px;

    @media (max-width: $tablet-width) {
      left: -52px;
    }
  }

  &::after {
    transform: rotate(310deg);
    left: -30px;
  }
}

.new__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (max-width: $mobile-width) {
    gap: 30px;
    margin-bottom: 30px;
  }
}

.new__item a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new__item {
  &:nth-of-type(3),
  &:nth-of-type(4) {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.new__img {
  margin-bottom: 20px;
  width: 19.7vw;

  @media (max-width: $tablet-width) {
    width: 42vw;
  }

  @media (max-width: $mobile-width) {
    width: 42vw;
    margin-bottom: 12px;
  }
}

.new__item-name {
  @include font-set(16px, 21px, 500);
  margin: 0;
  margin-bottom: 5px;
  color: $black2;

  @media (max-width: $mobile-width) {
    width: 40vw;
    text-align: center;
  }
}

.new__item-price {
  @include font-set(14px, 18px, 700);
  margin: 0;
  color: $black2;
}

.new__pagination-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  @media (max-width: $tablet-width) {
    gap: 13px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.new__pagination-list-mobile {
  @include list-reset;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
  }
}

.new__pagination-item a {
  @include font-set(16px, 21px, 500);
  color: $brown;

  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }
}

.new__pagination-list-mobile .new__pagination-item a {
  color: $black2;
}

.new__pagination-item--current a {
  color: $black;
}
