.page {
  height: 100%;
}

.page-body {
  margin: 0 auto;
  height: 100%;
  position: relative;
  font-family: $primary-font;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-main {
  flex: 1 0 auto;
}

.page-body__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $black-opacity;
  z-index: 2;
}

.page-body__overlay--view {
  display: block;
}

// .index-wrapper {
//   display: flex;
//   flex-direction: column;
//   padding: 50px;
//   margin: 0 auto;
// }
