// Colors

$white: white;
$white-opacity: rgba(255, 255, 255, 0.15);
$white-opacity2: rgba(255, 255, 255, 0.75);
$black-opacity: rgba(0, 0, 0, 0.8);
$background-basic: #f0eae4;
$background2: #a87b62;
$brown: #9b9997;
$black: black;
$black2: #1d1613;
$grey: #f6f5f4;

// Fonts

$primary-font: "Poppins", "Arial", sans-serif;
$secondary-font: "Cormorant Garamond", "PT Serif", serif;


// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
